<html>

<head>
<title>Task Stripboard</title>
<script src="http://cdn.jsdelivr.net/g/jquery@1,jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29,angularjs@1.2,angular.ui-sortable"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript">
var myapp = angular.module('sortableApp', ['ui.sortable']);


myapp.controller('sortableController', function ($scope, $http) {

  $scope.updateList = function() {
    $http({method: 'GET', url: '/get_tasks'}).
      success(function(data, status, headers, config) {
        $scope.list = data;
        $scope.oldList = JSON.parse(JSON.stringify(data));
      });
  }
 
  $scope.updateList();

  $scope.list = [];
  
  $scope.updateListItemOrder = function(item, neworder) {
    $scope.list[item].order = neworder;
    console.log("Item '" + $scope.list[item].text + "' was at " + $scope.list[item].order + " -> " + neworder);
    $http({method: 'POST', url: '/update_task_order', data: {'url': $scope.list[item].url, 'order': neworder}}).
      success(function(data, status, headers, config) {
        console.log("success.");
      });
  }
  
  $scope.sortingLog = [];

  $scope.input = '';

  $scope.addTask = function(event) {
    if ($scope.input == "") {
      return;
    }
    $http({method: 'POST', url: '/add_task', data: {'text': $scope.input}}).
      success(function(data, status, headers, config) {
        $scope.input = "";
        $scope.updateList();
      });
  }

  $scope.removeTask = function(item) {
    $http({method: 'POST', url: '/remove_task', data: {'url': item.url}}).
      success(function(data, status, headers, config) {
        $scope.updateList();
      });
  }
  
  $scope.sortableOptions = {
    stop: function(e, ui) {
      console.log($scope.list);
      for (var i = 0; i < $scope.list.length -1; i++) {
        console.log("Checking item " + i);
        console.log(" (at " + $scope.list[i].order + ")");
        //debugger;
        if ($scope.list[i].order < $scope.list[i+1].order) {
	  continue;
	}
	if (i == $scope.list.length - 2) {
	  $scope.updateListItemOrder(i+1, $scope.list[i].order + 1);
	  break;
	}
        if ($scope.list[i].order < $scope.list[i+2].order) {
          $scope.updateListItemOrder(i+1, ($scope.list[i].order + $scope.list[i+2].order)/2);
	  break;
	}
        if (i == 0) {
          $scope.updateListItemOrder(i, ($scope.list[1].order - 1));
	  break;
        }
	$scope.updateListItemOrder(i, ($scope.list[i-1].order + $scope.list[i+1].order)/2);	
      }
    }
  };
});
</script>

<style type="text/css">

ol, ul {
    list-style: none outside none;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

.list {
	list-style: none outside none;
	padding: 0px;
}

.item {
	padding: 5px 10px;
	margin: 5px 0;
	border: 1px solid #444;
	border-radius: 5px;
	background-color: #fbb;

	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	cursor: move;
}

.list.items li.item:last-child {
        background-color: #f88;
}

.list.entry li.item {
        background-color: #fee;
}

.item input {
        background: none;
        border: none;
        font-size: 1.1em;
	font-weight: bold;
	text-align: center;
        width: 70%;
}

.kill {
        float:left;
        text-decoration: none;
        color: #999;
}

/***  Extra ***/

body{
	font-family: Verdana, 'Trebuchet ms', Tahoma;
        margin: 20px;
}

</style>
</head>


<div ng-app="sortableApp" ng-controller="sortableController" class="container">
  <ul class="list entry">
    <li class="item"><input type="text" ng-model="input" ng-keyup="$event.keyCode == 13 && addTask()"></li>
  </ul>
  <ul ui-sortable="sortableOptions" ng-model="list" class="list items">
    <li ng-repeat="item in list" class="item">
      <a href="#" ng-click="removeTask(item)" class="kill"><i class="fa fa-times"></i></a>{{item.text}}
    </li>
  </ul>
</div>

</html>
